


<form method="post" asp-action="Postgenre" asp-controller="Test">
  <div class="form-group">
    <label for="Genrename">Genre</label>
    <input type="text" class="form-control" id="Genrename" name="Genrename" placeholder="Add Genre">
  </div>
    <input type="submit" class=" bg-dark text-white mt-2" style="border-radius:7px;" />
</form>


