@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h5><a asp-controller="Test" asp-action="Creategenre">Create Genre</a></h5>

<table class="table" id="myTable">
    <thead>
<tr class="border-1">
    <th>Genre ID</th>
    <th>Gnere Name</th>
    <th></th>
</tr>
</thead>
<tbody>


 @foreach(var item in ViewBag.Result)
  {            
      <tr>    
        <td>@item.Genre_Id</td>
        <td>@item.Genre_Name</td>
        
        <td><a class="text-success" asp-controller="Test" asp-action="Edit" asp-route-id="@item.Genre_Id" ><i class="fa-regular fa-pen-to-square"></i></a> <a class=" text-danger" asp-route-id = "@item.Genre_Id" asp-action="Remove" asp-controller="Test" ><i class="fa-solid fa-trash"></i></a></td>
      </tr>        
  }
  </tbody>

</table>


    @section scripts
    {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
        
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
         $('#myTable').DataTable();
        } );
    </script>
    }
 


